@import '~antd/lib/style/themes/default.less';

.wrap {
  .title {
    line-height: 40px;
    font-weight: bold;
    font-size: @font-size-lg;
    word-break: break-all;
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
}

.wrap-m {
  .title {
    padding-left: 4px !important;
    padding-right: 4px !important;
  }
}
