.affixed {
  :global .ant-affix {
    right: 20px;
    width: auto !important;
    height: auto !important;
    padding: 10px;
    background: #fff;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  :global .ant-form-item {
    margin-bottom: 0;
  }
}
